<app-user></app-user>
<div class="container-fluid">
  <div>
    <span class="h1">Exam Dashboard</span>
    <span *ngIf="service.isAdmin">
      for the user
      <select [(ngModel)]="currentUser" (change)="userChanged()">
        <option *ngFor="let u of service.users" [value]="u.uid">{{u.name}}</option>
      </select>
      <button class="gap" (click)="createExam()">Create Exam!</button>
    </span>
  </div>

  <div *ngIf="service.loading" id="loading" style="color: red;">
    Loading...
  </div>

  <br>
  <div class="container-fluid">
    <table class="table table-hover">
      <tbody *ngFor="let ex of service.exams | paginate: { id:'exams', itemsPerPage: 10, currentPage: pageExam }">
        <tr class="row" [class.pending]="ex.isPending()">
          <td class="col-3">{{ex.id}}</td>
          <td class="col-6 title" (click)="takeExam(ex)">
            {{ex.title}}
            <span *ngFor="let rs of service.listResults(ex.id); let j=index">
                <span data-toggle="tooltip"
                    class="badge pull-right"
                    (click)="showExamResult(rs)"
                    [class.locked]="rs.isLocked()"
                    title="{{showWhen(rs.when)}}">
                  <span *ngIf="rs.isLocked()">{{rs.score().percent()}}%</span>
            <span *ngIf="!rs.isLocked()" class="glyphicon glyphicon-play"></span>
            </span>
            </span>
          </td>
          <td class="col-3">{{showWhen(ex.when)}}</td>
        </tr>
      </tbody>
    </table>
    <pagination-controls id='exams' (pageChange)="pageExam = $event"></pagination-controls>
  </div>

  <br>
  <a
    style="padding: 4px; float: right; text-align: right;"
    (mouseenter)="toggleOK()"
    (mouseleave)="toggleOK()"
    [@testAnim]="ok"
    href="https://github.com/Tattvum/edutvum-exam"
    target="_blank"
    >https://github.com/Tattvum/edutvum-exam</a>

</div>
