<app-user></app-user>
<div class="container-fluid">

  <div class="center" fxLayout="row" fxLayoutGap="20px" fxLayout.lt-sm="column">
    <div fxFlexAlign="baseline" class="h1">Exam Dashboard</div>
    <div fxFlexAlign="baseline">
      <mat-form-field>
        <input matInput placeholder="Filter by Title" #filter [(ngModel)]="service.titleFilter">
      </mat-form-field>
      <button fxFlexOffset="10px" fxFlexAlign="start" mat-raised-button
          [disabled]="!service.titleFilter"
          (click)="service.titleFilter=''">Reset</button>
    </div>
    <div *ngIf="service.isAdmin" fxFlexAlign="baseline">
      <mat-form-field>
        <mat-select [(ngModel)]="currentUser" (change)="userChanged()" placeholder="User">
          <mat-option *ngFor="let u of service.users" [value]="u.uid">{{u.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div *ngIf="service.isAdmin" fxFlexAlign="baseline">
      <button mat-raised-button color="primary" (click)="createExam()">Create Exam!</button>
    </div>
  </div>

  <div [style.visibility]="service.loading ? 'visible' : 'hidden'" id="loading">
    <mat-spinner [diameter]="40"></mat-spinner>
  </div>

  <br>
  <div class="center">
    <mat-card *ngFor="let ex of service.filteredExams() | paginate: { id:'exams', itemsPerPage: 10, currentPage: pageExam }"
        [class.pending]="ex.isPending()"
        style="margin-bottom: 4px;"
        >
      <div fxLayout="column">
        <div class="light">{{ex.id}}</div>
        <div fxLayout="row" fxLayoutWrap>
          <div fxLayout="row">
              <div class="etitle actionable" fxFlexAlign="baseline" (click)="takeExam(ex)">{{ex.title}}</div>
              <div class="light" fxFlexAlign="baseline" fxFlexOffset="10px" >{{showWhen(ex.when)}}</div>
          </div>
          <div fxLayout="row-reverse" fxLayout.lt-sm="row" fxFlex.lt-sm="100%">
            <div>
              <button *ngIf="ex.isPending()" mat-raised-button (click)="publishExam(ex.id)">Publish</button>
            </div>
            <mat-chip-list>
              <mat-chip *ngFor="let rs of service.listResults(ex.id); let j=index"
                  color="{{rs.isLocked()? 'primary': 'warn'}}"
                  selected="true"
                  (click)="showExamResult(rs)"
                  [class.locked]="rs.isLocked()"
                  title="{{showWhen(rs.when)}}"
                  >
                <span *ngIf="rs.isLocked()" class="actionable">{{rs.score().percent()}}%</span>
                <span *ngIf="!rs.isLocked()" class="actionable">...%</span>
              </mat-chip>
            </mat-chip-list>
          </div>
        </div>
      </div>
    </mat-card>
  </div>

  <br>
  <div>
    <pagination-controls id='exams' (pageChange)="pageExam = $event"></pagination-controls>
  </div>

  <br>
  <a
    style="padding: 4px; float: right; text-align: right;"
    (mouseenter)="toggleOK()"
    (mouseleave)="toggleOK()"
    [@testAnim]="ok"
    href="https://github.com/Tattvum/edutvum-exam"
    target="_blank"
    >https://github.com/Tattvum/edutvum-exam</a>

</div>
