a {
  cursor: pointer;
}

.gap {
  margin-left: 40px;
}

.ng2-pagination .pagination-next {
  font-size: 18px;
}

.vcenter {
  display: inline-block;
  vertical-align: middle;
}

.title {
  cursor: pointer;
  color: green;
}
.title:hover {
  color: maroon;
}

.badge {
  margin-left: 4px;
  background-color: #f0ad4e;
  border-color: #eea236;
  &:not(.locked) {
    background-color: #c82333;
    border-color: #bd2130;
  }
}
.badge:hover {
  background-color: #0069d9;
  border-color: #0062cc;
}
