.pending {
  background-color: lightyellow;
}

.ng2-pagination .pagination-next {
  font-size: 18px;
}

@import url('https://fonts.googleapis.com/css?family=Roboto');

.actionable {
  cursor: pointer;
}

.center {
  margin: auto;
  width: 90%;
}

.etitle {
  font-size: larger;
  color: maroon;
  font-family: 'Roboto',"Helvetica Neue",sans-serif;
}
.etitle:hover {
  color: blue;
}
.light {
  width: unset;
  font-size: smaller;
  color: gray;
}

.bright {
  color: blueviolet;
  text-indent: 10px;
}