<app-user></app-user>
<div class="container-fluid">

  <app-nav [qidn]="qidn" [question]="question" [isResultsPage]="isResultsPage"
    [result]="result" [snapshots]="snapshots" (snapshotSelected)="setSnapshot($event)">
  </app-nav>
  <hr>
    <app-questions-manager [qidn]="qidn" [result]="result" (clicked)="setQuestion($event)">
    </app-questions-manager>

    @if (!isResultsPage) {
      <div>
        <app-display [qid]="qidn" [question]="question"></app-display>
        <hr>
          <app-choice-input [qid]="qidn" [question]="question" [result]="result">
          </app-choice-input>
          @if (result.showSolution(qidn)) {
            <div>
              <app-details [qid]="qidn" [question]="question" [result]="result">
              </app-details>
            </div>
          }
        </div>
      }

      @if (isResultsPage) {
        <div>
          <app-result [result]="result"></app-result>
        </div>
      }
      <hr>

      </div>
