<app-user></app-user>
<div class="container-fluid">
  <app-nav [qidn]="qidn" [question]="question" [result]="result"></app-nav>
  <hr>
  <div *ngIf="!isResultsPage">
    <app-display [qid]="qid" [question]="question"></app-display>
    <hr>
    <app-choice-input [qid]="qid" [question]="question" [result]="result"></app-choice-input>
    <div *ngIf="isLocked">
      <app-details [qid]="qid" [question]="question" [result]="result"></app-details>
    </div>
  </div>
  <div *ngIf="isResultsPage">
    <app-result [result]="result"></app-result>
  </div>
  <hr>
</div>
