<div fxLayout="row wrap">
  @for (q of result.questions; track q; let i = $index) {
    <span>
      <span fxLayout="row" fxLayoutGap="2px" [matTooltip]="info(i)" matTooltipClass="info">
        <span (click)="select(i)" fxLayout="column">
          <span [class.selected]="isGrouped(i)" class="nav-button num-top"></span>
          <span class="btn nav-button nav-number" id="b{{i}}"
            [class.locked]="result.showSolution(i) || result.isLocked()"
            [class.partial]="result.isPartial(i)"
            [class.correct]="result.isCorrect(i)"
            [class.guessing]="result.guessings[i]"
            [class.attempted]="result.isAttempted(i)"
            [class.omitted]="result.isOmitted(i)"
            [class.selected]="i == qidn"
            type="button">
            {{i+1}}
          </span>
          <span fxLayout="row" fxLayoutGap="0px">
            @if (result.isMarked(i)) {
              <span
              [class.marked]="result.isMarked(i)" class="nav-button num-bottom" fxFlex="20"></span>
            }
            <span [class.selected]="i == qidn" class="nav-button num-bottom" fxFlex></span>
          </span>
        </span>
        <span [class.selected]="i == qidn" class="nav-button num-right0"></span>
      </span>
    </span>
  }
  <span>
    <span id="results" (click)="results()" [class.selected]="isResultsPage"
      class="btn nav-button">
      Results
    </span>
  </span>
</div>

<br>
  <span id="continue" (click)="next()"
    [class.locked]="result.isLocked()"
    [class.attempted]="result.isAttempted(qidn)"
    class="btn btn-small btn-primary btn-sm" >
    Continue <span class="glyphicon glyphicon-arrow-right glyph-span"></span>
  </span>
  <sp></sp>
  <span (click)="markGuess(false)" id="btn-sure"
    [class.disabled]="result.isLocked()"
    [class.attempted]="result.isAttempted(qidn)"
    [class.selected]="!result.guessings[qidn]"
    class="btn btn-small btn-sm btn-doubt" >
    I'm sure
  </span>
  <sp></sp>
  <span (click)="markGuess(true)" id="btn-guess"
    [class.disabled]="result.isLocked()"
    [class.attempted]="result.isAttempted(qidn)"
    [class.selected]="result.guessings[qidn]"
    class="btn  btn-small btn-sm btn-doubt" >
    I'm guessing
  </span>

  <sp></sp><sp></sp>
  @if (!isResultsPage && !result.exam.isPending() && result.isLocked() && result.review) {
    <mat-slide-toggle
      [checked]="result.getReveal(qidn)"
      (change)="result.setReveal(qidn, $event.checked)"
    color="primary">Reveal Solution</mat-slide-toggle>
  }
