<div style="margin: 20px;">
  <mat-slider [max]="maxLevels" [min]="1" [step]="1" style="margin-left: 10px;" [discrete]="true">
    <input matSliderThumb [(ngModel)]="internalLevel" />
  </mat-slider>
  <sp></sp>
  <sp></sp>
  <b>{{filteredRows.length}}</b> rows
  <sp></sp>
  <sp></sp>
  <sp></sp>
  <sp></sp>
  <sp></sp>
  <sp></sp>
  <span class="actionable" (click)="clearSelections()" [class.hidden]="!hasSelections()">
    Clear selections
  </span>

  <table id="report" class="table table-bordered" style="width: 90%;">
    <tr class="maroon shade">
      <th width="3%" class=""></th>
      <th width="45%" class="left">Tag</th>
      @for (col of data.cols; track col; let i = $index) {
      <th class="right" [style]="col.style" [title]="showNote(i)">
        {{ col.name }}
      </th>
      }
    </tr>

    @for (row of filteredRows; track row) {
    <tr class="highlight" (click)="highlighted(row)">
      <td>
        <span class="glyphicon" [class.selected]="row.selected" [class.glyphicon-bookmark]="row.selected"></span>
      </td>
      <td class="left bold" [class.selected]="row.selected">{{ row.tag }}</td>
      @for (rv of row.values; track rv; let i = $index) {
      <td class="right" [style]="data.cols[i].style">
        {{ show(row.values, i)}}
      </td>
      }
    </tr>
    }

    <tr class="shade maroon">
      <td>.</td>
      <td class="left">Total</td>
      @for (t of data.totals; track t; let i = $index) {
      <td class="right" [style]="data.cols[i].style" [title]="showNote(i)">
        {{ show(data.totals, i)}}
      </td>
      }
    </tr>
  </table>

</div>