div {
  font-size: 110%;
}

.comment-box {
  width: 90%;
  color: chocolate;
}

.comment-box-title {
  color: lightslategray;
  font-style: italic;
}

.comment-box-user {
  color: lightcoral;
  font-size: small;
}

.comment-box-when {
  color: lightsteelblue;
  font-size: small;
}
