<div>
  <div style="color: coral;">Comments:</div>
  <app-editor heading="Add Comment" safe="true"
    [content]="newcomment" (onedit)="addComment($event)">
  </app-editor>
  <div>
    @for (c of comments; track c; let i = $index) {
      <div>
        <span class="comment-box-title" [innerHTML]="c.title" class="ql-editor"></span>
        <sp></sp>
        <sp></sp>
        <span class="comment-box-user">{{ c.user?.name }}</span>
        <sp></sp>
        <sp></sp>
        <span class="comment-box-when" title="{{ formatWhen(c.when) }}">{{ showWhen(c.when) }}</span>
      </div>
    }
  </div>
</div>
