a {
  cursor: pointer;
}

#ename {
  color: maroon;
  font-size: larger;
}

.eid {
  width: unset;
  font-size: smaller;
  background-color: white;
  padding: 1px 6px;
  color: gray;
}

.when {
  font-size: smaller;
}

.active {
  color: lightcoral
}

.nav-button {
  font-size: smaller;
  height: 20px;
}

.nav-number {
  white-space: nowrap;
  height: 20px;
  width: 30px;
  margin: 1px;
  padding: 1px;
  text-align: center;
}

#results {
  white-space: nowrap;
  height: 20px;
  width: unset;
  background-color: slategray;
  padding: 1px 6px;
  border-color: slategray;
  color: white;
}

.nav-number.selected, #results.selected {
  color: black;
  font-weight: bold;
  border: 1px solid black
}

/*---- number button ----*/

.nav-number.attempted:not(.locked).guessing {
  background-color: lightcoral;
  color: white;
}
.nav-number.attempted:not(.locked):not(.guessing) {
  background-color: lightseagreen;
  color: white;
}

.nav-number.attempted.locked.guessing.correct {
  background-color: green;
  opacity: 0.7;
  color: white;
}
.nav-number.attempted.locked:not(.guessing).correct {
  background-color: green;
  color: white;
}
.nav-number.attempted.locked.guessing:not(.correct) {
  background-color: red;
  opacity: 0.7;
  color: white;
}
.nav-number.attempted.locked:not(.guessing):not(.correct) {
  background-color: red;
  color: white;
}

/*---- guessing button ----*/

.btn-doubt:not(.attempted),
.btn-doubt.disabled:not(.selected),
#contsinue.attempted:not(.locked)  {
  display: none;
}
.btn-doubt.locked  {
  border: 1px solid yellow
}


#btn-sure.selected {
  background-color: lightseagreen;
  color: white;
}
#btn-sure:not(.selected) {
  border: 1px solid lightseagreen;
  background-color: white;
  color: lightseagreen;
}
#btn-sure:not(.selected):not(.disabled):hover {
  background-color: lightseagreen;
  opacity: 0.8;
  color: white;
}

#btn-guess.selected {
  background-color: lightcoral;
  color: white;
}
#btn-guess:not(.selected) {
  border: 1px solid lightcoral;
  background-color: white;
  color: lightcoral;
}
#btn-guess:not(.selected):not(.disabled):hover {
  background-color: lightcoral;
  opacity: 0.8;
  color: white;
}

/*---- ---- ----*/

.btn-small {
  height: 30px;
  vertical-align: middle;
  white-space: nowrap;
}

.glyph-span {
  line-height: 100%;
  vertical-align: middle;
}
