span {
  width: 30px;
  height: 20px;
  margin: 1px;
  padding: 1px;
  text-align: center;
  font-size: smaller;
}

#results {
  width: unset;
  background-color: slategray;
  padding: 1px 6px;
  border-color: slategray;
  color: white;
}

#eid {
  width: unset;
  font-size: smaller;
  background-color: white;
  padding: 1px 6px;
  color: gray;
}

#ename {
  color: maroon;
  font-size: larger;
}

button {
  white-space: nowrap;
  height: 30px;
}

.done {
  background-color: limegreen;
  color: white;
}

.wrong {
  background-color: red;
  color: white;
}

.selected {
  color: black;
  font-weight: bold;
  border: 1px solid black
}

.bingo {
  background-color: steelblue;
  color: black;
  font-weight: bold;
  border: 1px solid black
}
