<div>
  <div>
    <span id="ename">{{exam.title}}</span>
    <span class="eid"> ({{exam.id}})</span>
    <span *ngIf="exam.isLocked()" class="eid">({{exam.exam.id}}) </span>
    <span *ngIf="exam.isLocked()" class="when"> {{exam.when | date: 'yyyy-MMM-dd H:mm EEE'}} </span>
    <span *ngIf="!exam.isLocked()" class="when active"> {{ whatTime | async | date: 'yyyy-MMM-dd H:mm EEE' }} </span>
  </div>
  <div>
    <span class="glyphicon glyphicon-arrow-left"></span>
    <a id="back" (click)="gotoDash()">Student Dashboard</a>
    <br><br>
  </div>
  <div class="btn-toolbar" role="toolbar">
    <span *ngFor="let q of exam.questions; let i=index"
        class="btn-group btn btn-info nav-button nav-number" role="group"
        [class.done]="exam.isAttempted(i)"
        [class.wrong]="exam.isLocked() && !exam.isCorrect(i) && exam.isAttempted(i)"
        [class.selected]="i == qidn"
        (click)="select(i)"
        id="b{{i}}"
        type="button">
        {{i+1}}
  </span>
    <span id="results" (click)="results()" class="btn btn-info nav-button">
      Results
    </span>
  </div>
  <br>
  <button id="continue" class="btn btn-primary btn-sm" (click)="next()">
    Continue <span class="glyphicon glyphicon-arrow-right"></span>
  </button>
</div>
