a {
  cursor: pointer;
}

#ename {
  color: maroon;
}

.hidden {
  display: none;
}

.gap {
  margin-left: 10px;
  display: inline;
}

progress {
  height: 5px;
  width: 200px;
  margin-left: 10px;
}

progress[value = "100"] {
  display: none;
}
progress[value = "0"] {
  display: none;
}

.eid {
  width: unset;
  font-size: smaller;
  background-color: white;
  padding: 1px 6px;
  color: gray;
}

.when {
  font-size: smaller;
}

.active {
  color: lightcoral
}

#pause.locked {
  display: none;
}
#cancel.locked {
  background-color: lightslategrey;
  border-color: transparent;
}
#done.locked {
  background-color: lightslategrey;
  border-color: transparent;
}

//---- ---- ----

.btn-small {
  height: 30px;
  vertical-align: middle;
  white-space: nowrap;
}

.glyph-span {
  line-height: 100%;
  vertical-align: middle;
}

.actionable {
  cursor: pointer;
}
.snapshot-do {
  background-color: #F90;
}
.snapshot-show {
  background-color: #35B;
  color: white;
}
.snapshot-main {
  background-color: #228;
  color: yellow;
  font-weight: bold;
}
.bigfont {
  font-size: 24px;
}
