.highlight:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.actionable:hover {
  cursor: pointer;
}

mat-icon {
  vertical-align: middle;
}

mat-icon:hover {
  cursor: pointer;
}

.iconcolor {
  color: grey;
}
.iconcolor:hover {
  color: black;
}

.gray {
  color: gray;
}
.blue {
  color: blue;
}
