<!-- TODO: -->
<!-- <span (click)="doPopup()" [MathJax]="content" class="ql-editor"></span> -->
<span (click)="doPopup()" class="ql-editor"></span>
@if (safe || service.isAdmin) {
<span (click)="doPopup()" class="link">[edit]</span>
}

<!-- ----------------------------------------------------------------------- -->

<ng-template #popup>
  <h1 mat-dialog-title>{{ heading }}</h1>
  <mat-tab-group>
    <mat-tab label="Editor">
      <quill-editor [(ngModel)]="content" (onEditorCreated)="onEditorCreated($event)" [styles]="{ 'font-size': '120%' }"
        [modules]="modules" preserveWhitespace="true">
      </quill-editor>
    </mat-tab>
    <mat-tab label="Raw">
      <textarea [(ngModel)]="content" rows="5"></textarea>
    </mat-tab>
  </mat-tab-group>
  <div mat-dialog-actions>
    <button mat-raised-button [mat-dialog-close]="true" cdkFocusInitial>Save</button>
    <button mat-raised-button [mat-dialog-close]="false">Cancel</button>
  </div>
</ng-template>