<mat-form-field class="example-chip-list">
  <mat-chip-grid #chipList aria-label="Tag selection">
    @for (tag of tags; track tag) {
      <mat-chip-row
        [removable]="true"
        [disabled]="disabled"        
        (click)="editTag(tag.id)"
        (removed)="removeTag(tag.id)">
        {{tag.title}}
        <mat-icon matChipRemove>cancel</mat-icon>
      </mat-chip-row>
    }
    <input
      placeholder="Tags..."
      (focus)="onFocus()"
      (focusout)="onFocusOut()"
      #tagInput
      [disabled]="disabled"
      [formControl]="tagCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      (matChipInputTokenEnd)="addTagInput($event)">
  </mat-chip-grid>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addTagSelected($event)">
    @for (tag of filteredTags$ | async; track tag) {
      <mat-option [value]="tag.id">
        {{tag.title}}
      </mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
