<mat-form-field class="example-chip-list">
  <mat-chip-list #chipList aria-label="Tag selection">
    <mat-chip *ngFor="let tag of tags"
      [removable]="true"
      [disabled]="disabled"
      [selectable]="true"
      (removed)="removeTag(tag.id)">
      {{tag.title}}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="Tags..."
      #tagInput
      [disabled]="disabled"
      [formControl]="tagCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      (matChipInputTokenEnd)="addTagInput($event)">
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="addTagSelected($event)">
    <mat-option *ngFor="let tag of filteredTags$ | async" [value]="tag.id">
      {{tag.title}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
