.mynav {
  background-color: whitesmoke;
  border-bottom: 1px solid lightgrey;
  padding: 8px 20px;
  width: 100%;
}
.actionable {
  cursor: pointer;
  color: #009;
}
.actionable:hover {
  color: blue;
}
h4 {
  color: gray;
}
