<br>
<input name="file" class="inline" (change)="uploadFiles($event)" type="file" multiple>
<!--
  <progress class="inline" [value]="currentUpload?.progress" max="100"></progress>
  <mat-progress-bar [mode]="determinate" [value]="currentUpload?.progress"></mat-progress-bar>
 -->
  <table style="margin-top: 8px; width: 50%;" class="table table-hover">
    <tbody *ngFor="let f of files; let i=index">
      <tr class="row">
      <td class="col-12" (click)="copyUrlToClipboard(f, $event)" >
        <button (click)="removeFile(f)" class="inline">Remove</button>
        <span style="margin-left: 20px;"> {{i+1}} </span>
        <span style="margin-left: 20px;"> {{f.file}} </span>
        <input readonly type="text" class="selectbox" [value]="f.url">
      </td>
      </tr>
    </tbody>
  </table>
