.bg {
  background-color: lightyellow
}

.correct {
  color: lightseagreen;
}
.notcorrect {
  color: red;
}
.done {
  color: green;
  font-weight: bold;
}

.lighter {
  color: royalblue;
}

.disabled {
  color: lightgrey;
}

#clear-all {
  width: 30px;
  height: 20px;
  margin: 1px;
  padding: 1px;
  text-align: center;
  font-size: smaller;
  width: unset;
  padding: 1px 6px;
  border-color: slategray;
  color: gray;
}
