div {
  font-size: 110%;
}

.bg {
  background-color: lightyellow
}

.correct {
  color: #37CF34;
}
.notcorrect {
  color: red;
}
.done {
  color: lightseagreen;
}

.ncq {
  padding: 4px;
}
.ncq input {
  padding: 4px;
}

.lighter {
  color: royalblue;
}

.hidden {
  display: none;
}

.disabled {
  color: lightgrey;
}

.opt {
  font-size: smaller;
}

#clear-all {
  width: 30px;
  height: 20px;
  margin: 1px;
  padding: 1px;
  text-align: center;
  font-size: smaller;
  width: unset;
  padding: 1px 6px;
  border-color: slategray;
  color: gray;
}
