div {
  font-size: 110%;
}

.bg {
  background-color: lightyellow
}

.correct {
  color: #37CF34;
}
.notcorrect {
  color: red;
}
.done {
  color: lightseagreen;
}

.ncq {
  padding: 4px;
}
.ncq input {
  padding: 4px;
}

.lighter {
  color: royalblue;
}

.disabled {
  color: lightgrey;
}

.guess-false {
  background-color: white;
  color: lightcoral
}
.guess-true {
  background-color: lightcoral;
  color: white;
}

.sure-false {
  background-color: white;
  color: lightseagreen
}
.sure-true {
  background-color: lightseagreen;
  color: white;
}

.btn-small {
  border-color: white;
  height: 24px;
  padding: 1px 6px;
  text-align: center;
  padding: 1px 6px;
  font-size: smaller;
  margin: 6px;
  width: 30px;
  width: unset;
}

#clear-all {
  width: 30px;
  height: 20px;
  margin: 1px;
  padding: 1px;
  text-align: center;
  font-size: smaller;
  width: unset;
  padding: 1px 6px;
  border-color: slategray;
  color: gray;
}
