#percent {
  font-size: 128px;
}
#percent2 {
  font-size: 128px;
  color: maroon;
}
#marks {
  color: gray;
  font-size: 36px;
}
.correct {
  color: limegreen;
}
.wrong {
  color: red;
}
.missed {
  color: dodgerblue;
}
#total {
  color: black;
}
div > span {
  font-weight: bold;
  font-size: 16px;
  color: black;
}

th, td {
  text-align: center;
}

.table-bordered th, .table-bordered td {
  border: 1px solid #ddd;
  padding: 8px;
}

@mixin bgfg($bg, $fg, $op) {
  background-color: $bg;
  color: $fg;
  opacity: $op;
}

.guess {
  opacity: 0.5;
}
.correct {
  color: green;
}
.wrong {
  color: red;
}
.skipped {
  color: dodgerblue;
}
.total {
  font-style: italic;
}
.grand {
  font-size: larger;
  font-style: normal;
  font-weight: bold;
}
