<div>
  <hr>
  <div class="explanationQ">
    <div *ngIf="!okreveal">[Question Explantion HIDDEN]</div>
    <app-editor *ngIf="okreveal"
      heading="Edit Question Explantion"
      [content]="question.explanation"
      (onedit)="editExplanationQ($event)" >
    </app-editor>
  </div>
</div>

<div>
  <hr>
  <div class="explanationE">
    <div *ngIf="!okreveal">[Exam Explantion HIDDEN]</div>
    <app-editor *ngIf="okreveal"
      heading="Edit Exam Explantion"
      [content]="result.exam.explanation"
      (onedit)="editExplanationE($event)" >
    </app-editor>
  </div>
</div>

<div *ngIf="context.isAdmin">
  <hr>
  <div class="notesQ">
    <app-editor heading="Edit Question Notes"
      [content]="question.notes"
      (onedit)="editNotesQ($event)" >
    </app-editor>
  </div>
</div>

<div *ngIf="context.isAdmin">
  <hr>
  <div class="notesE">
    <app-editor heading="Edit Exam Notes"
      [content]="result.exam.notes"
      (onedit)="editNotesE($event)" >
  </app-editor>
  </div>
</div>

