.explanationQ {
  color: blue;
  font-size: smaller;
}
.explanationE {
  color: darkblue;
  font-size: smaller;
}
.notesQ {
  color: orange;
  font-size: smaller;
}
.notesE {
  color: red;
  font-size: smaller;
}
